#page {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 44px;
  height: calc(100% - 44px);
  background-color:rgb(63, 63, 63);
}

#pages {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  height: 44px;
  background-color:rgb(53, 50, 50);
  display:list-item;
  text-align: center;
} 

.pageBtn {
  height: 44px;
  margin-left: 20px;
}

.pageBtn img {
  left: 0%;
  top: 0%;
  height: 44px;
  width: 44px;
  background-color: #6d6d6d
}


#arrowgamediv {
  position: absolute;
  background-color: #636363;
  left: 40%;
  top: 10%;
  width: 20%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  padding-top: 0.5%;
}
#mainmenu {
  position: absolute;
  background-color:#636363;
  left: 30%;
  top: 20%;
  width: 40%;
  aspect-ratio: 2 / 1;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(1,4fr);
}

.arrowgamelight {
  aspect-ratio: 1 / 1;
  width: 90%;
  border: none;
  transition: background-color 0.3s ease-out;
}

.gamebuttons {
  width: 20%;
  aspect-ratio: 1 / 1
}

#coincounter {
  position: absolute;
  right: 2%;
  font-size: 60pt;
  top: 0%;
}
